* {
    margin: 5px 0;
}

.content {
    display: flex;
    flex-direction: column;
}

li>input {
    margin-left: 10px;
}

input {
    width: max-content;
}

.status {
    color: red;
}

img {
    display: block;
    background-color: hsl(0, 0%, 90%);
    margin: auto auto auto 0;
}